@import "../common/common";

.notice {
  @include flexCenter;
  min-height: 50vh;

  &__inner {
    text-align: center;

    p {
      font-size: 20 * $px;
      color: $dark-grey;
    }

    h2 {
      font-size: 70 * $px;
      line-height: 1;
      font-weight: bold;
      color: $blue;
    }

    h3 {
      margin-top: 25 * $px;
      color: $dark-grey;
      font-weight: bold;
    }
  }
}
