// Units
$px: 0.0625rem;

// Fonts
$font-main: "Roboto";

// Colors
$white: #fff;
$grey: #606060;
$light-grey: #979797;
$dark-grey: #2e2e2e;
$blue: #1797ff;
$red: #dd0031;

// Borders
$border-radius: 6px;
$border-width: 1px;
